.form-section {
  padding: 25px 7% 10px 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-projects-heading {
  margin-bottom: 2px;
}
.rule {
  border-top: 2px solid orange;
  width: 5%;
}

.form {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .form {
    width: 78%;
  }
}
.input-section {
  padding: 7px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.name-input {
  padding: 10px;
  margin-top: 5px;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.495);
  background-color: white;
  border-radius: 4px;
}
.text-area {
  padding: 10px;
  margin-top: 5px;
  outline: none;
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.495);
  background-color: white;
  border-radius: 4px;
  resize: vertical;
  height: 100px;
}
.add-button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  background-color: #FDC435;
  align-self: flex-end;
  margin-top: 10px;
}
